.App {
  width: 100%;
  min-height: 80vh;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 1%;
}

.widgets {
  display: inline-block;
  margin-top: 3%;
  width: 90%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.page {
  display: inline-block;
  margin-top: 3%;
  width: 90%;
  border-radius: 10px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  clear: left;
  min-height: 100px;
  padding: 1%;
}

.widget {
  background-color: #000294;
  color: white;
  padding: 2%;
  font-weight: bold;
  font-size: 1.4em;
  margin: 1%;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.groupWidget {
  margin: 0.5% !important;
  background-color: #000294 !important;
  &:hover {
    background-color: #000264 !important;
  }
}
